.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: 15% 7.5% 87.5% 5%/ 14% 86%;
  grid-template-areas:
    "header header"
    "nav nav"
    "sideBar main"
    "footer footer";
}

.header {
  grid-area: header;
  border: solid 2px red;
}

.nav {
  grid-area: nav;
  border: solid 2px green;
  padding: 5px;
}

.main {
  border: orange 2px solid;
  grid-area: main;
  height: 100%;
}

.sideBar {
  border: magenta 2px solid;
  grid-area: sideBar;
}

.footer {
  border: pink 2px solid;
  grid-area: footer;
}

.router-wrapper {
  grid-area: main;
  height: 100%;
  overflow-y: auto;
}
