.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: 9% 7% 84%/ 14% 86%;
  grid-template-areas:
    "header header"
    "nav nav"
    "sideBar main"
}

.header {
  grid-area: header;
  background-color: rgb(184, 46, 46);
}

.nav {
  grid-area: nav;
  padding: 5px;
  background-color: rgb(184, 46, 46);
}

.main {
  grid-area: main;
  height: 100%;
}

.sideBar {
  grid-area: sideBar;
}

.footer {
  grid-area: footer;
  background-color:  rgb(184, 46, 46);
}

.router-wrapper {
  grid-area: main;
  height: 100%;
  overflow-y: auto;
}
