.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: 9% 7% 82%/ 14% 86%;
  grid-template-areas:
    "header header"
    "nav nav"
    "sideBar main";
}

.header {
  grid-area: header;
  background-color: rgb(165, 38, 38);
}

.nav {
  grid-area: nav;
  padding: 5px;
  background-color: rgb(165, 38, 38);
}

.main {
  text-align: center;
  grid-area: main;
  height: 100%;
}

.sideBar {
  grid-area: sideBar;
}

.router-wrapper {
  grid-area: main;
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .sideBar {
    width: 50%;
  }
  .main {
    width: 50%;
  }
}
