.articleList {
  /* background-color: #ccc; */
  border-radius: 5px;
  margin: 10px;
  display: grid;
  grid-template: 20% 80% / 85% 15%;
  grid-template-areas:
    "header buttons"
    "info buttons";
}

.welcomeBanner {
  text-align: center;
}

.userButton {
  border: none;
  background-color: rgb(184, 46, 46);
  padding: 5px;
  width: 20%;
  border-radius: 10px;
}

.userButton:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s ease;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.articleInfo {
  margin: 2.5px;
  grid-area: info;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
}

h2 {
  grid-area: header;
  /* border: red 1px solid; */
  padding: 20px;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}

.buttonsAndLink {
  grid-area: buttons;
  /* border: green 1px solid; */
}

.articlesTitle {
  text-decoration: none;
  border-radius: 5px;
  margin: 2.5px;
}

.readMoreLink {
  grid-area: buttons;
  padding: 20px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 2.5px;
}

.linkToArticle {
  text-decoration: none;
  color: black;
}

.votingButtons {
  /* border: red 1px solid; */
  padding: 10px;
  border-radius: 5px;
  margin: 2.5px;
}

.commentsAndVotes {
  /* border: black 2px solid; */
  padding: 1px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 2.5px;
}

h1 {
  color: black;
}

.voteButton {
  border: none;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.voteButton:hover {
  transform: scale(1.3, 1.3);
  transition: 0.5s ease;
}

@media screen and (max-width: 640px) {
  .articleList {
    width: 50%;
    text-align: center;
    display: grid;
    border: 1px black solid;
    width: 415px;
    grid-template: 20% 20% 20% / 100%;
    grid-template-areas:
      "header"
      "buttons"
      "info";
    justify-items: center;
  }

  .userButton {
    border: none;
    background-color: rgb(184, 46, 46);
    padding: 5px;
    width: 60%;
    border-radius: 10px;
  }

  .articleInfo {
    margin: 2.5px;
    grid-area: info;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 290px;
  }

  h2 {
    grid-area: header;
    padding: 20px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    width: 250px;
  }

  .buttonsAndLink {
    grid-area: buttons;
  }

  .articlesTitle {
    text-decoration: none;
    border-radius: 5px;
    margin: 2.5px;
    width: 290px;
  }

  .readMoreLink {
    grid-area: buttons;
    padding: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 2.5px;
    width: 250px;
  }

  .linkToArticle {
    text-decoration: none;
    color: black;
    width: 200px;
  }

  .votingButtons {
    border-radius: 5px;
    width: 270px;
  }

  .commentsAndVotes {
    padding: 1px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 2.5px;
    width: 290px;
  }

  h1 {
    color: black;
  }

  .voteButton {
    border: none;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
  }

  .voteButton:hover {
    transform: scale(1.3, 1.3);
    transition: 0.5s ease;
  }

  .welcomeBanner {
    text-align: center;
  }
}
