.sideBar {
  height: 100%;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template: 10% 5% 7% 5% 5% / 100%;
  grid-gap: 10px;
  background-color: grey;
  border-radius: 5px;
  grid-template-areas:
    "loginName"
    "logoutButton"
    "articleSearch"
    "sortBy"
    "postArticle";
}

.userLoginName {
  grid-area: loginName;
}

.postArticleButton {
  grid-area: postArticle;
  border: none;
  background-color: rgb(184, 46, 46);
  padding: 5px;
  width: 50%;
  border-radius: 10px;
}

.postArticleButton:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s ease;
}

.logoutButton {
  grid-area: logoutButton;
  background-color: rgb(184, 46, 46);
  padding: 5px;
  width: 50%;
  border-radius: 10px;
  border: none;
}

.logoutButton:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s ease;
}

.sortdropDown {
  grid-area: sortBy;
  padding: 5px;
  width: 50%;
  border-radius: 10px;
}

.articleSearchInput {
  border: black;
  border-radius: 5px;
}

.articleSearchForm {
  grid-area: articleSearch;
}
