.loginForm {
  padding: 10px;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  background-color: rgb(176, 183, 189);
}

.loginGrid {
  border: black 2px solid;
  border-radius: 7px;
  background-color: rgb(131, 123, 125);
}

.loginButton {
  border: none;
  background-color: rgb(184, 46, 46);
  padding: 5px;
  width: 50%;
  border-radius: 10px;
}

.loginButtonBox {
  padding: 10px;
}

.loginInputBox {
  border-radius: 5px;
}

.loginErrorMessage {
  color: rgb(209, 15, 15);
}
