.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: 15% 5% 80% / 100%;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
  grid-area: header;
  border: solid 2px red;
}

.nav {
  grid-area: nav;
  border: solid 2px green;
}

.main {
  border: orange 2px solid;
  grid-area: main;
}

.footer {
  grid-area: footer;
}
