.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: 15% 5% 80% 5%/ 100%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.header {
  grid-area: header;
  border: solid 2px red;
}

.nav {
  grid-area: nav;
  border: solid 2px green;
}

.main {
  border: orange 2px solid;
  grid-area: main;
}

.footer {
  border: pink 2px solid;
  grid-area: footer;
}

.router-wrapper {
  grid-area: main;
  height: 100%;
  overflow-y: auto;
}